aiohttp>=3.11.8
alembic
av>=16.0.0
blake3
comfy-aimdo>=0.4.10
comfy-kitchen>=0.2.10
einops
filelock
glfw
huggingface_hub
hf_transfer
kornia>=0.7.1
numpy>=1.25.0
pillow
psutil
pydantic-settings~=2.0
pydantic~=2.0
PyOpenGL
pyyaml
requests
safetensors>=0.4.2
scipy
sentencepiece
simpleeval>=1.0.0
soundfile
spandrel
SQLAlchemy>=2.0.0
tokenizers>=0.13.3
torchsde
tqdm
transformers>=4.50.3
yarl>=1.18.0
